In [1]:
#1.Create a set and print it.

def create_set(set1):
    return set1
print(create_set({1,2,34,55}))

{1, 2, 34, 55}

In [2]:
#2.Find the length of a set.

def create_set(set1):
    return len(set1)
print(create_set({1,2,34,55}))

4

In [3]:
#3.Add an element to a set.

def add_element(numbers):
    numbers.add(2)
    return numbers
print(add_element({1,6,7,8}))

{1, 2, 6, 7, 8}

In [11]:
#4.Add multiple elements to a set.

def add_multiple(number):
    number.update([1,2])
    return number
print(add_multiple({3,4,6,7}))

{1, 2, 3, 4, 6, 7}

In [12]:
#5.Remove an element from a set (using remove() and discard()).

def remove_element(number):
    number.remove(2)
    return number
print(remove_element({2,3,4,5,6}))

{3, 4, 5, 6}

In [14]:
def remove_element(number):
    number.remove(1) #give error
    return number
print(remove_element({2,3,4,5,6}))

KeyError: 1

In [15]:
def discard_element(number):
    number.discard(1) #doesnot give error if value doesnot exists
    return number
print(discard_element({2,3,4,5,6}))

{2, 3, 4, 5, 6}

In [18]:
#6.Pop a random element from a set.

def pop_element(num):
    num.pop()
    return num
print(pop_element({2,3,4,5,6}))

{3, 4, 5, 6}

In [21]:
#7.Check if an element exists in a set.

def check_element(num,num_to_check):
    
    if num_to_check in num:
        print("exists in set")
    else:
        print("doenot exists in a set")

print(check_element({2,3,4,5,6},5))

exists in set
None

In [25]:
#8.Convert a list to a set to remove duplicates.

def remove_duplicate(n):
    empty_set=list(n)
    for i in n:
        if i not in empty_set:
            empty_set.append(i)
    return empty_set

print(remove_duplicate({1,6,7,8,1,6,7,8,10}))

[1, 6, 7, 8, 10]

In [26]:
#9.Convert a set to a list.

def convert_set_list(new):
    return list(new)
print(convert_set_list({77,8,9,22}))

[8, 9, 77, 22]